/*
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
*/

body, html {
	height: 100%;
}

.navbar-brand{
	font-family: 'Raleway', sans-serif;
}

.nav-item {
	font-family: 'Open Sans', sans-serif;
}

.home-bg {
	/* The image used */
	background-image: url("img/background.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-content {
	margin-top: 17%;
	margin-left: 13%;
	color: #f2f2f2;
}

.home-content h1 {
	font-size: 60px;
	font-family: 'Raleway', sans-serif;
}

.home-content p {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 10px;
	margin-right: 10px;
}

#early {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.content {
	font-family: 'Open Sans', sans-serif;
	padding-top: 40px;
}

.content h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
}

.page-title {
	margin: 5px 1% 0px 0px;
	background-color: #CE5142;
	padding:15px;
	border-radius: 6px;
}

.page-title a {
	color: #292b2c;
}

.intro-row {
	margin: 10px 0px 30px 0px;
}

.intro-words-about {
	background-color: #FFEABC; /*BDCB9D*/
	border-radius: 6px;
	padding: 25px;
	font-size: 18px;
}

.intro-words-about li {
	padding-bottom: 5px;
}

.intro-words-mres {
	background-color: #FFEABC; /*BDCB9D*/
	border-radius: 6px;
	padding: 15px;
	font-size: 17px;
}

.circle-img-container {
	padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.circle-img {
	width: 100%;
	border-radius: 50%;
}

.heading {
	margin: 0 2%;
}

.content-row {
	margin: 0px 1% 50px 1%;
}

.doc-link {
	text-decoration: none;
	color: black;
}

.doc-link:hover {
	text-decoration: underline;
	color: black;
}

#summer-img {
	border-radius: 6px;
	width:100%;
}

#summer-words {
	padding-top: 10px;
}

.text-link {
	text-decoration: underline;
	color: #292b2c;
}

.text-link:hover {
	text-decoration: underline;
	color: #6e7477;
}

.last-p {
	margin-bottom: 0px;
}

.mres-img {
	width: 100%;
}

#exit-words {
	padding: 15px;
}

.exit-words-mres {
	background-color: #FFEABC; /*BDCB9D*/
	border-radius: 6px;
	padding: 15px;
	padding-bottom: 20px;
}

#logoUCL {
	text-align: center;
}

#logoUCL img {
	height: 60px;
}

.half-row { 
	padding: 0 10px 0 0;
	height: 200px;
 }

#links {
	border-radius: 6px;
	padding: 15px;
	background-color: #FFEABC;
	height: 100%;
}

#gender {
	border-radius: 6px;
	padding: 15px;
	background-color: #CE5142;
	height: 100%;
}

.footer {
	background-color:#000;
	font-size:10px;
	text-align: center;
	padding: 10px 0;
}

.navbar-static-top {
	margin-bottom: 19px;
}